<a href="https://colab.research.google.com/github/kanstat/Machine_learning/blob/main/multivariate_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Linear Regression using Multiple Variables/attributes.

In [10]:
#importing libraries
import numpy as np
import pandas as pd
from sklearn import linear_model
import math

In [7]:
#loading dataset
df = pd.read_csv('/content/homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [11]:
#as we can see that from the table their is missing data so, we have to handle it otherwise model will not gonna work properly
# so, we have to do data cleaning.
#to keep median in int
median_bedroom = math.floor(df.bedrooms.median())
median_bedroom

4

In [18]:
# fill none values
df.bedrooms.fillna(median_bedroom)

0    3.0
1    4.0
2    4.0
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [20]:
#assign it to original dataframe 
df.bedrooms = df.bedrooms.fillna(median_bedroom)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [21]:
# to make a model first we have to create regression obj
reg = linear_model.LinearRegression()

In [23]:
#train a model
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [24]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [25]:
reg.intercept_

221323.00186540396

In [26]:
reg.predict([[3000,3,40]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([498408.25158031])

In [28]:
# y = m1*x+m2*x2+m3*x3+b
3000*112.06244194+3*23388.88007794+40*-3231.71790863+221323.00186540396

498408.251574024