<a href="https://colab.research.google.com/github/kanstat/Machine_learning/blob/main/random_forest_iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Use famous iris flower dataset from sklearn.datasets to predict flower species using random forest classifier.

In [ ]:
import pandas as pd 
import matplotlib.pyplot as plt 
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.ensemble import  RandomForestClassifier

In [ ]:
iris = datasets.load_iris()

In [ ]:
dir(iris)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [ ]:
#create dataframe 
df = pd.DataFrame(iris.data,columns = iris.feature_names)

In [ ]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [ ]:
df['target'] = iris.target

In [ ]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [ ]:
inputs = df.drop(['target'],axis='columns')

In [ ]:
inputs.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [ ]:
target = df['target']

In [ ]:
target.head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(inputs,target,test_size=0.2)

In [ ]:
len(X_train)

120

In [ ]:
model = RandomForestClassifier(n_estimators=10,criterion="gini", max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0, max_features="auto", max_leaf_nodes=None, min_impurity_decrease=0, bootstrap=True, oob_score=False, n_jobs=None, random_state=None, verbose=0, warm_start=False, class_weight=None, ccp_alpha=0, max_samples=None)

In [ ]:
model.fit(X_train, y_train)

RandomForestClassifier(ccp_alpha=0, min_impurity_decrease=0,
                       min_weight_fraction_leaf=0, n_estimators=10)

In [ ]:
model.score(X_test,y_test)

0.9